/* ANCHOR: EMPTY
-------------------------------------------- */

.vlt-page {
	padding-bottom: px2rem(70px);
}

.vlt-page--empty {

	p {
		margin-bottom: 0;
	}

	.vlt-btn {
		margin-top: px2rem(30px);
	}

}